@import 'variables/colors';

.navbar {
  height: 70px;
  border-top: 6px solid $cerulean;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);

  .content {
    height: 100%;
    max-width: 874px;
    margin: 0 auto;

    .logout-button {
      font-size: 18px;
      line-height: 21px;
      color: $black;
    }
  }
}
