@import 'variables/colors';
@import 'variables/variables';

.container {
  border-top: 6px solid $cerulean;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  height: 70px;

  .content {
    height: 100%;
    margin: 0 auto;
    max-width: $max-width-app;

    .logout-button {
      color: $black;
      font-size: 18px;
      line-height: 21px;
    }
  }
}
