@import 'variables/variables';

.container {
  cursor: pointer;
  display: grid;
  gap: 36px;
  grid-template-columns: repeat(auto-fill, 200px);
  margin: 0 auto;
  max-width: $max-width-app;
  padding-bottom: 26px;
  padding-top: 36px;
}
