@import 'variables/colors';

.container {
  background-color: $wild-sand;
  border-top: 8px solid $cerulean;
  margin: 0 auto;
  width: 300px;
  padding: 0 25px 24px;

  .image {
    display: block;
    margin: 20px auto 16px;
  }

  .line {
    border: 1px solid $silver-chalice;
  }
}
