@import 'variables/colors';

@import 'variables/variables';

.go-back {
  cursor: pointer;
  left: calc((100% - #{ $max-width-app }) / 2);
  position: fixed;
  top: 46px;

  .go-back-text {
    color: $black;
    font-size: 20px;
    line-height: 24px;
  }
}

@media only screen and (max-width: $max-width-app) {
  .go-back {
    left: 0;
  }
}
