.unlabeled-field {
  margin-top: 30px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.text-error {
  color: $red;
}

.input-error {
  border: 1px solid $red;
}

.hidden {
  visibility: hidden;
}

%button-common {
  border: 2px solid $earls-green;
  border-radius: 5px;
  display: inline-block;
  height: 32px;
  width: 100%;

  &:active {
    box-shadow: 0 5px 10px $gray;
    transform: translateY(-1px);
  }
}

.button-primary {

  @extend %button-common;
  background-color: $earls-green;
  color: $white;
}

.button-secondary {

  @extend %button-common;
  background-color: transparent;
  color: $earls-green;
}

.line {
  position: relative;

  &::before {
    border-top: 2px solid $silver-chalice;
    content: '';
    left: 0;
    position: absolute;
    top: -18px;
    width: 100%;
  }
}
